:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}
button {
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
/* Navbar Section */
#navbar-section {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}
#navbar-section .navbar-left .navbar-logo {
  font-size: 32px;
  color: var(--very-dark-blue);
  font-weight: 700;
}
#navbar-section .navbar-left,
#navbar-section .navbar-right {
  display: flex;
  gap: 50px;
  align-items: center;
}
#navbar-section .navbar-left .navbar-item,
#navbar-section .navbar-right .navbar-right-item {
  display: flex;
  gap: 30px;
  align-items: center;
  color: var(--grayish-violet);
  font-weight: 700;
}
#navbar-section .navbar-right .navbar-right-item .navbar-button {
  border: none;
  background-color: var(--cyan);
  color: #fff;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 9999px;
  font-size: 18px;
}

/* Main Section */

#main-section {
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px;
  margin-top: 90px;
}
#main-section .main-section-left {
  width: 700px;
}
#main-section .main-section-left h1 {
  font-weight: 700;
  color: var(--very-dark-blue);
  font-size: 80px;
  margin-bottom: 12px;
  line-height: 1.1;
}
#main-section .main-section-left p {
  color: var(--grayish-violet);
  font-size: 26px;
  line-height: 1.5;
}
#main-section .main-section-left .main-section-button {
  border: none;
  border-radius: 999px;
  font-size: 24px;
  color: #fff;
  padding: 18px 40px;
  background-color: var(--cyan);
  margin-top: 32px;
}
#main-section .main-section-right img {
  position: absolute;
  right: -100px;
  top: 200px;
}
/* Search Section */
#search-section {
  margin-top: 130px;
  position: relative;
}

#search-section form {
  display: flex;
  align-items: center;
  gap: 20px;
  background-image: url("../../assets/bg-shorten-desktop.svg");
  background-size: 100%;
  height: 120px;
  background-color: var(--dark-violet);
  padding: 30px 60px;
  border-radius: 20px;
}
#search-section form input {
  width: 85%;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 20px;
}
#search-section form input::placeholder {
  font-size: 20px;
}
#search-section form button {
  width: 15%;
  border: none;
  border-radius: 10px;
  background-color: var(--cyan);
  color: #fff;
  padding: 15px 30px;
  font-size: 20px;
}
/* Search Result Section */
#search-result {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 32px;
  margin-top: 30px;
  border-radius: 10px;
  align-items: center;
}
#search-result .result-left {
  display: flex;
  align-items: center;
  gap: 18px;
}
#search-result .result-left .result-left-link {
  color: var(--cyan);
  font-size: 16px;
}
#search-result .result-left button {
  border: none;
  background-color: var(--cyan);
  color: #fff;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 10px;
}
/* Advanced Section */
#advanced-section {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 100px;
}
#advanced-section .advanced-title {
  text-align: center;
  font-weight: 700;
  color: var(--very-dark-blue);
  font-size: 40px;
  margin-bottom: 20px;
}
#advanced-section .advanced-description {
  color: var(--grayish-violet);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
#advanced-section .advanced-card {
  display: flex;
  width: 1440px;
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  gap: 30px;
}
#advanced-section .advanced-card .card {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
  gap: 20px;
  z-index: 1;
}
#advanced-section .advanced-card .card:nth-child(3) {
  margin-top: 50px;
}
#advanced-section .advanced-card .card:nth-child(4) {
  margin-top: 100px;
}
#advanced-section .advanced-card .card .card-icon {
  position: relative;
}
#advanced-section .advanced-card .card .card-icon img {
  position: absolute;
  margin-top: -80px;
  background-color: var(--dark-violet);
  padding: 20px;
  border-radius: 999px;
}
#advanced-section .advanced-card .card .card-title {
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}
#advanced-section .advanced-card .card .card-description {
  color: var(--grayish-violet);
  font-size: 20px;
  line-height: 1.2;
}

/* Boost Section */
#boost-section {
  background-image: url("../../assets/bg-boost-desktop.svg");
  background-size: cover;
  height: 300px;
  background-color: var(--dark-violet);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#boost-section .boost-title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 14px;
}
#boost-section button {
  border-radius: none;
  border-radius: 9999px;
  background-color: var(--cyan);
  color: #fff;
  padding: 20px 50px;
  border: none;
}
/* Footer Section */
#footer-section {
  background-color: var(--very-dark-violet);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

#footer-section .footer-menu,
#footer-section .footer-icon,
#footer-section .footer-social-menu {
  margin-top: 30px;
  flex: 2;
}
#footer-section .footer-icon {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}
#footer-section .footer-menu div {
  color: var(--grayish-violet);
  margin-bottom: 20px;
}
#footer-section .footer-menu div:first-child {
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}
#footer-section .footer-social-menu {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
#mobile-navbar-section {
  display: none;
}
#open-navbar-section {
  display: none;
}

/* Other */
.line {
  width: 70%;
  height: 10px;
  background-color: var(--cyan);
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#gray-background {
  background-color: #e3e3e3;
  height: 800px;
  margin-top: -100px;
  padding-bottom: 100px;
  z-index: -1;
}
.bg {
  background-color: #e3e3e3;
  display: flex;
  margin-top: -100px;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  #navbar-section {
    display: none;
  }
  #mobile-navbar-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #mobile-navbar-section .mobile-open-icon {
    font-size: 30px;
    color: var(--grayish-violet);
  }
  .close {
    top: -500px;
  }
  #open-navbar-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--dark-violet);
    padding: 30px;
    margin: 0 30px;
    color: #fff;
    gap: 40px;
    border-radius: 10px;
    font-weight: 700;
    transition: top 250ms ease;
    overflow: hidden;
  }
  .open {
    top: 100px;
  }
  .hamburgerClose {
    position: absolute;
    right: 20px;
    font-size: 40px;
    top: 20px;
  }
  #open-navbar-section div:nth-child(2) {
    margin-top: 50px;
  }
  #open-navbar-section div:last-child {
    margin-bottom: 20px;
    background-color: var(--cyan);
    width: 100%;
    text-align: center;
    padding: 15px 10px;
    border-radius: 999px;
    font-weight: 700;
  }
  #main-section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  #main-section .main-section-left {
    width: 100%;
    text-align: center;
  }
  #main-section .main-section-left h1 {
    font-size: 39px;
    margin-top: 20px;
  }
  #main-section .main-section-left p {
    font-size: 16px;
    margin-top: 20px;
  }
  #main-section .main-section-left .main-section-button {
    font-size: 20px;
    padding: 14px 40px;
    font-weight: 700;
  }
  #main-section .main-section-right img {
    position: relative;
    width: 300px;
  }
  #search-section {
    margin-top: 60px;
  }
  #search-section form {
    flex-direction: column;
    gap: 10px;
    background-size: cover;
    padding: 20px 20px;
  }
  #search-section form input {
    width: 100%;
    padding: 16px 10px;
  }

  #search-section form button {
    width: 100%;
    padding: 16px 10px;
  }
  #search-result {
    display: block;
    padding: 14px;
  }
  #search-result .result-title {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  #search-result .result-left {
    display: block;
  }
  #search-result .result-left .result-left-link {
    margin-top: 20px;
  }
  #search-result .result-left button {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }
  #advanced-section .advanced-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #advanced-section .advanced-card .card {
    height: 250px;
  }
  #advanced-section .advanced-card .card .card-icon img {
    position: relative;
  }
  #gray-background {
    padding-bottom: 1000px;
  }
  #boost-section {
    background-size: cover;
    height: 240px;
  }
  #boost-section .boost-title {
    font-size: 26px;
    font-weight: 700;
  }
  #boost-section button {
    font-weight: 700;
    padding: 16px 70px;
  }
  #footer-section {
    display: block;
    text-align: center;
    padding: 40px;
  }

  #footer-section .footer-icon {
    display: block;
    margin: 0;
  }

  #footer-section .footer-social-menu {
    justify-content: center;
  }
  .line {
    height: 70%;
    width: 10px;
  }
}
